$dark-bg-color: #121212;
$light-bg-color: #fefefe;
$dark-color: #000;
$light-color: #fff;
$light-border: #808080;
$dark-border: #000;
$correct: #528d4e;
$almost: #b49f39;
$wrong: #3a393c;
$modal-dark-bg-color: #121213;
$modal-dark-border-color: #1a1a1b;
$input-switch: #2196f3;
$link-color: #0481ef;
